/*
 * Copyright (c) 2023 Andrei Gaevskii
 *
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <common/nordic/nrf52840_uf2_boot_mode.dtsi>

#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>


/ {
	model = "mriya";
	compatible = "mriya";

	chosen {
		zephyr,code-partition = &code_partition;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zmk,kscan = &kscan0;
		zmk,physical-layout = &physical_layout0;
		zmk,battery = &vbatt;
		zmk,studio-rpc-uart = &cdc_acm_uart;
	};

    physical_layout0: physical_layout_0 {
		compatible = "zmk,physical-layout";
		display-name = "Default";
		transform = <&default_transform>;
		kscan = <&kscan0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   75       0     0     0>
            , <&key_physical_attrs 100 100  100   62       0     0     0>
            , <&key_physical_attrs 100 100  200   25       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   25       0     0     0>
            , <&key_physical_attrs 100 100  500   38       0     0     0>
            , <&key_physical_attrs 100 100 1100   38       0     0     0>
            , <&key_physical_attrs 100 100 1200   25       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400   25       0     0     0>
            , <&key_physical_attrs 100 100 1500   62       0     0     0>
            , <&key_physical_attrs 100 100 1600   75       0     0     0>
            , <&key_physical_attrs 100 100    0  175       0     0     0>
            , <&key_physical_attrs 100 100  100  162       0     0     0>
            , <&key_physical_attrs 100 100  200  125       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  125       0     0     0>
            , <&key_physical_attrs 100 100  500  138       0     0     0>
            , <&key_physical_attrs 100 100 1100  138       0     0     0>
            , <&key_physical_attrs 100 100 1200  125       0     0     0>
            , <&key_physical_attrs 100 100 1300  100       0     0     0>
            , <&key_physical_attrs 100 100 1400  125       0     0     0>
            , <&key_physical_attrs 100 100 1500  162       0     0     0>
            , <&key_physical_attrs 100 100 1600  175       0     0     0>
            , <&key_physical_attrs 100 100    0  275       0     0     0>
            , <&key_physical_attrs 100 100  100  262       0     0     0>
            , <&key_physical_attrs 100 100  200  225       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  225       0     0     0>
            , <&key_physical_attrs 100 100  500  238       0     0     0>
            , <&key_physical_attrs 100 100 1100  238       0     0     0>
            , <&key_physical_attrs 100 100 1200  225       0     0     0>
            , <&key_physical_attrs 100 100 1300  200       0     0     0>
            , <&key_physical_attrs 100 100 1400  225       0     0     0>
            , <&key_physical_attrs 100 100 1500  262       0     0     0>
            , <&key_physical_attrs 100 100 1600  275       0     0     0>
            , <&key_physical_attrs 100 100  275  335 (-1200)   375   435>
            , <&key_physical_attrs 100 100  375  335       0     0     0>
            , <&key_physical_attrs 100 100  500  338    1500   500   338>
            , <&key_physical_attrs 100 100  570  360    3000   570   460>
            , <&key_physical_attrs 100 100 1030  360 (-3000)  1130   460>
            , <&key_physical_attrs 100 100 1100  338 (-1500)  1200   338>
            , <&key_physical_attrs 100 100 1223  335       0     0     0>
            , <&key_physical_attrs 100 100 1323  335    1200  1323   435>
            ;
    };

	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <12>;
		rows = <5>;
		map = <
                    RC(1,5) RC(1,4) RC(1,3) RC(1,2) RC(1,1) RC(1,0)  RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11)
                    RC(2,5) RC(2,4) RC(2,3) RC(2,2) RC(2,1) RC(2,0)  RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11)
                    RC(3,5) RC(3,4) RC(3,3) RC(3,2) RC(3,1) RC(3,0)  RC(3,6) RC(3,7) RC(3,8) RC(3,9) RC(3,10) RC(3,11)
                                    RC(4,3) RC(4,2) RC(4,1) RC(4,0)  RC(4,6) RC(4,7) RC(4,8) RC(4,9)
		>;
	};

	kscan0: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		label = "KSCAN";

		wakeup-source;

		diode-direction = "col2row";
		row-gpios
			= <&gpio0  7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio1  9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio0 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio0 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio0 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			;
	};

	leds {
		compatible = "gpio-leds";
		blue_led: led_0 {
			gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
			label = "Blue LED";
		};
	};

	vbatt: vbatt {
		compatible = "zmk,battery-voltage-divider";
		label = "VBATT";
		io-channels = <&adc 0>;
		output-ohms = <2000000>;
		full-ohms = <(2000000 + 806000)>;
	};

};


&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

zephyr_udc0: &usbd {
	status = "okay";
	cdc_acm_uart: cdc_acm_uart {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/devices/dts/flash_partitions.html
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		sd_partition: partition@0 {
			label = "softdevice";
			reg = <0x00000000 0x00026000>;
		};
		code_partition: partition@26000 {
			label = "code_partition";
			reg = <0x00026000 0x000c6000>;
		};

		/*
		 * The flash starting at 0x000ec000 and ending at
		 * 0x000f3fff is reserved for use by the application.
		 */

		/*
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@ec000 {
			label = "storage";
			reg = <0x000ec000 0x00008000>;
		};

		boot_partition: partition@f4000 {
			label = "adafruit_boot";
			reg = <0x000f4000 0x0000c000>;
		};
	};
};